[%- set repo_url = "https://github.com/" ~ github_repository -%]

# Support

[%- if has_discussions %]

Ask questions in [GitHub Discussions][discussions].
[%- endif %]

Report a bug or request a feature through the [issue forms][issues]. Report a
vulnerability as [SECURITY.md](SECURITY.md) describes.

[%- if has_discussions %]

[discussions]: (( repo_url ))/discussions
[%- endif %]
[issues]: (( repo_url ))/issues/new/choose
