blank_issues_enabled: false
contact_links:
  - name: Security vulnerability
    url: https://github.com/(( github_repository ))/security/advisories/new
    about: Report it privately.
  # % if has_discussions
  - name: Question
    url: https://github.com/(( github_repository ))/discussions
    about: Ask in Discussions.
  # % endif
